@model cmspro.Models.army

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Details</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div>
        <h4>army</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.army_name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.army_name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.army_email)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.army_email)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.army_mobile)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.army_mobile)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.army_posting)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.army_posting)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.army_account_number)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.army_account_number)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.army_ifsc_code)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.army_ifsc_code)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.army_image)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.army_image)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.army_wife)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.army_wife)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.army_father)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.army_father)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.army_address)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.army_address)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.army_medal)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.army_medal)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.army_counter_strike)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.army_counter_strike)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.army_hurt_count)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.army_hurt_count)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.army_summary)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.army_summary)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.army_id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
